
.container {
    position: relative;
    width: 80%;
    margin: 100px auto 0px auto;
    border: 1px solid rgb(202, 201, 201);
    box-shadow: 4px 4px 4px #cecece;
}

.checkoutNavigation {
    display: flex;
    border-bottom: 1px solid rgb(202, 201, 201);

}

a {
    color: #464646;
    display: block;
    padding: 10px 8px;
}

.Progress > a::after {
    content: '/';
    padding: 0px 0px 0px 10px;
}

.Progress > a:last-child::after {
    content: '';
}

.Progress {
    display: flex;
    margin-left: 5%;
}

.cancelButton {
    position: absolute;
    right: 0px;
    margin: 10px
}

.orderInfo {
    display: flex;
}

.paymentBlock {
    width: 60%;
}

.cartBlock {
    width: 40%;
    background: #e2e2e2;
}
