
.container {
    position: relative;
    width: 80%;
    margin: 100px auto 0px auto;
    border: 1px solid rgb(202, 201, 201);
    box-shadow: 4px 4px 4px #cecece;
}

.container__checkoutNavigation {
    display: flex;
    border-bottom: 1px solid rgb(202, 201, 201);

}

.container__item {
    color: #464646;
    display: block;
    padding: 10px 8px;
}

.container__item--active {
    font-weight: bold;
}

.container__progress > a::after {
    content: '/';
    padding: 0px 0px 0px 10px;
}

.container__progress > a:last-child::after {
    content: '';
}

.container__progress {
    display: flex;
    margin-left: 5%;
}

.container__button--windowClose {
    position: absolute;
    right: 0px;
    margin: 10px
}

.container__orderInfo {
    display: flex;
}

.container__paymentBlock {
    width: 60%;
}

.container__cartBlock {
    width: 40%;
    background: #e2e2e2;
}
